body {
    height: 100px;
    width: 350px;
}
.all {
    display: flex;
    margin-top: 10vw;
    margin-bottom: 90vw;
    text-align: center
}
.beggin {
    padding-left: 10px;
}
.center {
    padding-left: 10%;
    padding-right: 10%;
}